.DS_Store
.ipynb_checkpoints/
notes/*
data_prep.ipynb
simulation.ipynb
data/archive/*
!data/archive/.gitinclude
data/polls/economist/output/*
*.zip
data/polls/fivethirtyeight/pres_pollaverages_1968-2016.csv
